<footer class="footer">
  <div class="container">
    <div class="footer__inner">
      <div>
        <h3 class="footer__title">{{ SITENAME }}</h3>
        <p class="footer__text">Лицензия ДПО №Л035-01298-78/00123456</p>
      </div>
      <div>
        <h3 class="footer__title">КОНТАКТЫ</h3>
        <p class="footer__text">+7 (812) 123-45-67<br>@pionerpalace</p>
      </div>
      <div>
        <h3 class="footer__title">ПАРТНЕРЫ</h3>
        <p class="footer__text">Российское общество «Знание»<br>Союз юных инженеров</p>
      </div>
    </div>
    <div class="footer__bottom">ДИЗАЙН ВДОХНОВЛЁН СОВЕТСКИМ ПЛАКАТОМ 1920–1930-Х ГОДОВ</div>
  </div>
</footer>